<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-9">
    <%= render '/shared/offcanvas' %>
    <%= render '/shared/page_header', title: t('blog_histories') %>
    <div>
      <% @blog.versions.reverse.each do |version| %>
        <div class="panel panel-default">
          <% blog = version.reify %>
          <div class="panel-heading">
            <span><strong><%= version.event.capitalize %>d by <%= User.find(version.whodunnit).username %></strong><small class="pull-right"><%= version.created_at %></small></span>
          </div>
            <% if version.event == 'update' %>
              <div class="panel-body">
                <% next_blog = blog.next_version %>
                <% if blog.title != next_blog.title %>
                  <h3>title</h3>
                  <%= raw Diffy::Diff.new(blog.title, next_blog.title, include_plus_and_minus_in_html: true).to_s(:html) %>
                <% end %>
                <% if blog.raw_body != next_blog.raw_body %>
                  <h3>body</h3>
                  <%= raw Diffy::Diff.new(blog.raw_body, next_blog.raw_body, include_plus_and_minus_in_html: true).to_s(:html) %>
                <% end %>
              </div>
            <% else %>
            <% end %>
        </div>
      <% end %>
    </div>
  </div><!--/span-->
</div><!--/row-->
