<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-9">
    <%= render '/shared/offcanvas' %>
    <%= render '/shared/page_header', title: t('.entry_list') %>
    <table class="table">
      <thead>
        <tr>
          <th><%= t('.title') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @blogs.each do |blog| %>
          <tr>
            <td><%= link_to blog.title, blog_path(blog, username: blog.username) %></td>
            <td  class="col-sm-4"><%= link_to t('.edit'), edit_blog_path(blog, username: blog.username), class: 'btn btn-default' %>
            <%= link_to t('.destroy'), blog_path(blog, username: blog.username), method: :delete, data: { confirm: t('are_you_sure?') }, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @blogs %>
  </div><!--/span-->
</div><!--/row-->
