<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-9">
    <%= render '/shared/offcanvas' %>
    <%= render '/shared/page_header', title: t('.page_list') %>
    <table class="table">
      <thead>
        <tr>
          <th><%= t('.title') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @pages.each do |page| %>
          <tr>
            <td><%= link_to raw(page.title), page_path(id: page.page_name) %></td>
            <td  class="col-sm-4"><%= link_to t('.edit'), edit_page_path(id: page.page_name), class: 'btn btn-default' %>
            <%= link_to t('.destroy'), page, method: :delete, data: { confirm: t('are_you_sure?') }, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @pages %>
  </div><!--/span-->
</div><!--/row-->
