<%= form_for @link, html: { class: 'form-horizontal', role: 'form' } do |f| %>
  <%= render '/shared/error_message', record: @link %>
  <div class="form-group">
    <%= f.label :title, class: 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <%= f.text_field :title, class: 'form-control', placeholder: :title, required: 'required' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :url, class: 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <%= f.text_field :url, class: 'form-control', placeholder: :url, required: 'required' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit 'submit', class: 'btn btn-primary form-control' %>
    </div>
  </div>
<% end %>
