<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-9">
    <%= render '/shared/offcanvas' %>
    <%= render '/shared/page_header', title: t('.links') %>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Url</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @links.each do |link| %>
          <tr>
            <td><%= link.title %></td>
            <td><%= link.url %></td>
            <td  class="col-sm-4"><%= link_to 'Edit', edit_link_path(link), class: 'btn btn-default' %>
            <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Link', new_link_path %>
  </div><!--/span-->
</div><!--/row-->
