<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-9">
    <%= render '/shared/offcanvas' %>
    <%= render '/shared/page_header', title: t('.links') %>
    <table class="table">
      <thead>
        <tr>
          <th><%= t('.title') %></th>
          <th><%= t('.url') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @links.each do |link| %>
          <tr>
            <td><%= link.title %></td>
            <td><%= link.url %></td>
            <td  class="col-sm-4"><%= link_to t('.edit'), edit_link_path(link), class: 'btn btn-default' %>
            <%= link_to t('.destroy'), link, method: :delete, data: { confirm: t('are_you_sure?') }, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to t('.new_link'), new_link_path %>
  </div><!--/span-->
</div><!--/row-->
