<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-sm-6 col-sm-offset-3">
    <%= render '/shared/page_header', title: t('.sign_in') %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { method: :post, class: 'form-horizontal', role: 'form' }) do |f| %>
      <div class="form-group">
        <%= f.label :email, class: 'col-sm-2 control-label' %>
        <div class="col-sm-8">
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email address', required: 'required' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password, class: 'col-sm-2 control-label' %>
        <div class="col-sm-8">
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password', required: 'required' %>
        </div>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <div class="col-sm-offset-2">
            <%= f.check_box :remember_me, placeholder: 'Password' %>
            <%= f.label :remember_me %>
          </div>
        </div>
      <% end -%>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
          <%= f.submit 'Sign in', class: 'btn btn-primary form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
          <%= render 'devise/shared/links' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
