<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Connect" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <% if user_signed_in? %>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <% end %>
          <%= link_to 'Connect', root_path, class: 'navbar-brand' %>
        </div><!-- /.navbar-header -->
        <% if user_signed_in? %>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to t('.page_list'), pages_path %></li>
              <li class="divider-vertical"><%= link_to t('.page_create'), new_page_path %></li>
              <li><%= link_to t('.my_blog'), "/#{current_user.username}" %></li>
              <li class="divider-vertical"><%= link_to t('.new_entry'), "/#{current_user.username}/new" %></li>
              <li><%= link_to t('.links'), links_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= t('.setting') %><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% if can? :manage, current_user %>
                    <li><%= link_to t('.manage'), admin_users_path %></li>
                  <% end %>
                  <li><%= link_to t('.profile'), edit_user_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to t('.sign_out'), destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.nav-collapse -->
        <% end %>
      </div><!-- /.container -->
    </div><!-- /.navbar -->
    <div class="container">
      <%= bootstrap_flash %>
      <% if user_signed_in? && request.path_info != '/' %>
        <ol class="breadcrumb">
          <%= render_breadcrumbs tag: :li, separator: '' %>
        </ol>
      <% end %>
      <%= yield %>
      <hr>
      <footer>
        <p class="pull-right"><a href="#"><%= t('back_to_top') %></a></p>
        <% unless user_signed_in? %>
        <p><iframe src="http://ghbtns.com/github-btn.html?user=camelmasa&repo=connect&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe><iframe src="http://ghbtns.com/github-btn.html?user=camelmasa&repo=connect&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe></p>
        <% else %>
          <p><%= link_to t('.post_an_issue'), 'https://github.com/camelmasa/connect/issues/new', target: '_blank' %></p>
        <% end %>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
